@font-face {
  font-family: NeueBook;
  src: url("/fonts/PPNeueMontreal-Book.otf");
}
@font-face {
  font-family: NeueMed;
  src: url("/fonts/PPNeueMontreal-Medium.otf");
}

/* Neue world is a serif font */
@font-face {
font-family: "NeueWorldReg";
  src: url("/fonts/PPNeueWorld-Regular.otf");
}

body{
  cursor: crosshair; 
}
/* The actual styling */
/* 1603 is width I think*/

.nav-bar{
  font-family:"NeueMed";
  font-size: 18px;
  padding: .208vw;
  display: flex;
  justify-content: space-between;
}

.hero-text{
  font-family: "NeueMed";
  font-size: 50px;
  margin-top: 13vw;
  margin-left: 7.813vw;
  margin-bottom: -3.64vw;
  letter-spacing: 1px;
  
}
.hero-subtext{
  margin-top: 4.68vw;
  margin-left: 7.813vw;
  margin-bottom: -4.16vw;
  font-family: "NeueMed";
  letter-spacing: 1px;
  font-size:24px;
  color: rgba(0, 0, 0, 0.7)
}
.hero-content{
  margin-top: 10.4vw;
  height: 65vw;
  max-height: 100%;
}

.rect-item{
  margin: auto;
  width: 85%;
  margin-top: 7.8vh;
  border-radius: 15px;
  height: 65vw;
  background-image: url("/images/404136mtsdl.jpg");
}

.project-counter{
  margin-top: .52vh;
  margin-left: 7.28vw;
  font-size: 18px;
  font-family: "NeueMed";
}

#first{
  background-image: url("/images/NFTrightclick\,jpg\ \(2022_02_08\ 10_01_42\ UTC\).jpg");
  background-size: 200%;
  background-position: 50%;
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}

#second{
  background-image: url("/images/kechla\ 19.jpg");
  background-size: 120%;
  background-position: 51.5%;
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
  
}

#seventh{
  background-image: url("/images/reflection.jpg");
  background-size: 120%;
  background-position: 50%;
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}


#ninth{
  background-image: url("/images/convo.jpg");
  background-size: 135%;
  background-position: 50%;
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}

#third{
  background-image: url("/images/trimmed.gif");
  background-size: 120%;
  background-position: 50%;
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}

#sixth{
  background-image: url("/images/payout.jpg");
  background-size: 120%;
  background-position: 50%;
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}

#fifth{
  background-image: url("/images/lightshow.jpg");
  background-size: 120%;
  background-position: 50%;
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}

#eighth{
  background-image: url("/images/stray.jpg");
  background-size: 120%;
  background-position: 50%;
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}

#fourth{
  background-image: url("/images/pacman.png");
  background-size: 184%;
  background-position: 50%;
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}

#tenth{
  background-image: url("/images/elon\ musk\ lower.jpg");
  background-size: 140%;
  background-position: 50%;
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}

#eleventh{
  background-image: url("/images/ancient\ rome.png");
  background-size: 100%;
  background-position: 50%;
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}

#twelve{
  background-image: url("/images/Neon\ White\ 03-07-2022\ 10_41_24.png  ");
  background-size: 150%;
  background-position: 50%;
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}

#thirteen{
  background-image: url("/images/_DSC1129.jpg");
  background-size: 122%;
  background-position: 50%;
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}


/* The zoom in animation */
/*
#first:hover{
  cursor:crosshair;
	-webkit-transform: scale(1.02);
	transform: scale(1.02);
}

#second:hover{
  cursor:crosshair;
	-webkit-transform: scale(1.02);
	transform: scale(1.02);
}

#third:hover{
  cursor:crosshair;
	-webkit-transform: scale(1.02);
	transform: scale(1.02);
}

#fourth:hover{
  cursor:crosshair;
	-webkit-transform: scale(1.02);
	transform: scale(1.02);
}

#fifth:hover{
  cursor:crosshair;
	-webkit-transform: scale(1.02);
	transform: scale(1.02);
}

#sixth:hover{
  cursor:crosshair;
	-webkit-transform: scale(1.02);
	transform: scale(1.02);
}

*/